<div id="backing" class="twevecol">
  <h2 class="raised" id="goal">
    <%= number_to_currency Order.revenue, :precision => 0 %>
  </h2>
  <% if Order.revenue.to_f < Order.goal.to_f %>
    <div id='progress_bg' class='small'>
      <div id='progress' class='' style='width: <%= Order.percent %>%;'>
      </div>
    </div>
  <% else %>
    <div id="progress_bg">
      <div id="progress">
      </div>
      <div id='progress_text'><%= Order.percent %>% <%= Settings.progress_text %></div>
    </div>
  <% end %>
  <h5 class="goal" style="text-transform: none;">
      <span>Raised of <%= number_to_currency Settings.project_goal.to_f, :precision => 0 %> goal</span>
  </h5>
  <% if Settings.expiration_date.present? %>
    <div id="days-left">
      <%= distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\D/, "") %>
      <span><%= distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\d/, "").gsub("about", "") %> left</span>
  <% else %>
        &infin;
        <span>days left</span>
      </div>
  <% end %>
</div>

      