<div class="wrap-mini wrap-gray container">
  <div class="row">
    <div class="twelvecol">
      <h2 class="title" style="margin-bottom:0;">Check out</h2>
    </div>
  </div>
</div>

<div class="container wrap">
  <div class="row">
    <div class="twelvecol">
      <p>
        All of your payment information will be secured and stored with <a href="https://stripe.com/">Stripe</a>. Enter your details below.
        <br />
        <br />
      </p>
      <%= form_tag "/preorder/checkout", :id => "checkout" do %>
        <%= hidden_field_tag "payment_option", params[:payment_option], :required => "required", :id => "payment_option" %>   
        <%= text_field_tag "name", nil, :placeholder => "Name", :required => "required", :id => "name" %>
        <%= email_field_tag "email", nil, :placeholder => "Email", :required => "required", :id => "email" %>
        <%= text_field_tag "address_line1", nil, :placeholder => "Address line 1", :required => "required", :id => "address_line1" %>
        <%= text_field_tag "address_line2", nil, :placeholder => "Address line 2", :id => "address_line2" %>
        <%= text_field_tag "address_zip", nil, :placeholder => "Zipcode", :required => "required", :id => "address_zip", :maxlength => 5 %>
        <%= text_field_tag "card_number", nil, :placeholder => "Credit Card number", :required => "required", :id => "card_number", :name => nil, :maxlength => 16 %>
        <%= text_field_tag "card_expiry_month", nil, :placeholder => "Expiry month (e.g. 3)", :required => "required", :id => "card_expiry_month", :name => nil, :maxlength => 3 %>
        <%= text_field_tag "card_expiry_year", nil, :placeholder => "Expiry year (e.g. 2015)", :required => "required", :id => "card_expiry_year", :name => nil, :maxlength => 4 %>
        <%= text_field_tag "card_cvc", nil, :placeholder => "CVC", :required => "required", :id => "card_cvc", :name => nil, :maxlength => 4 %>
        <%= submit_tag "Checkout", :class => "blue_button disabled", :id => "amazon_button" %>
      <% end %>
    </div>
  </div>
</div>  
<%= render 'stripe_js' %>
</div>
